########################################################
################System toml 配置#########################
########################################################
# 1. INDICATOR
LLM_MODEL_INDICATOR =
LLM_INDICATOR_ENDPOINT =
LLM_INDICATOR_API_KEY =

# 2. STRUCTURE
LLM_MODEL_STRUCTURE =
LLM_STRUCTURE_ENDPOINT =
LLM_STRUCTURE_API_KEY =

# 3. MECHANICS
LLM_MODEL_MECHANICS =
LLM_MECHANICS_ENDPOINT =
LLM_MECHANICS_API_KEY =


#########################################################
##################freqtrade 配置##########################
#########################################################
EXEC_USERNAME =
EXEC_SECRET =

# Proxy (optional)
# PROXY_ENABLED=true will inject proxy into freqtrade config and container env.
PROXY_ENABLED = false
PROXY_PORT = 7890
PROXY_HOST = host.docker.internal
PROXY_SCHEME = http
PROXY_NO_PROXY = localhost,127.0.0.1,brale,freqtrade

# Go proxy for docker build (recommended in CN network)
GOPROXY = https://goproxy.cn,direct
GOSUMDB = sum.golang.google.cn

#########################################################
##################telegram 推送##########################
#########################################################
NOTIFICATION_STARTUP_NOTIFY_ENABLED =
NOTIFICATION_TELEGRAM_ENABLED =
NOTIFICATION_TELEGRAM_TOKEN =
NOTIFICATION_TELEGRAM_CHAT_ID =

#########################################################
##################feishu 推送############################
#########################################################
NOTIFICATION_FEISHU_ENABLED =
NOTIFICATION_FEISHU_APP_ID =
NOTIFICATION_FEISHU_APP_SECRET =
NOTIFICATION_FEISHU_BOT_ENABLED =
NOTIFICATION_FEISHU_BOT_MODE = long_connection
NOTIFICATION_FEISHU_VERIFICATION_TOKEN =
NOTIFICATION_FEISHU_ENCRYPT_KEY =
NOTIFICATION_FEISHU_DEFAULT_RECEIVE_ID_TYPE = chat_id
NOTIFICATION_FEISHU_DEFAULT_RECEIVE_ID =
